/* reset*/
/*Wildcard*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* because padding and border affect width and height */
  /* If I fix width=200px and height=200px ,it do not exceed these numbers and it act inside*/
}

/* ^general*/
hmtl,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  
  /*Set the bottom margin for h1, h2, h3 element to 20 pixels*/
}

a {
  color: #222;
  text-decoration: none;

}
.active{
  background-color: #444;
}
.btn{
  display: inline-block;
  margin-top: 40px;
  padding: 15px 25px;
  background-color:  #222;
  color: white;
  border: 4px ;
  border-radius: 30%;
  font-weight: 600;
  font-size: 20px;
}





/*header*/
.header {
  background-color: #333;
  overflow: auto;/* overflow هي خاصية في CSS تحدد ما يحدث عندما يتجاوز محتوى العنصر حجمه. تستخدم هذه الخاصية للتحكم في طريقة عرض العنصر الزائد من حيث العرض والارتفاع والتمرير الداخلي.*/
  line-height: 1.7em; /*All header element inline*/

}

.header nav h1 {
  float: left;
  /*h1 stay on the left*/
  padding: 20px;
  margin-bottom: 0px; /*Override h1===> without margin button*/
}
.header nav h1 a {
color: white;
}
.header nav ul {
  float: right;
  /*ul ===> right */
  list-style: none;
  /*disable list style*/

}

.header nav ul li {
  float: left;/*to make li in the left inline*/
}
.header nav ul li a {
color: white;
padding: 20px;
display: block; /*convert inline element to block element*/
}
.header nav ul li a:hover {
background-color: #444;
  }
  
/*anchor is inline element, we can transform to block element to control them*/
/* inline element do not consider width and height */

/*@New words :*/
/*Wildcard =applicable on all the project*/

/*first section*/
.greeting{
  text-align: center;
  padding-top: 200px;
  /* color: rgb(63, 199, 25); */
  color: white;
}
.separator{
  background: black;
  margin: auto;
  margin-bottom: 30px;
  width: 100px;
  height: 10px;
}
.caf_descrip{
  /* color: rgb(119, 187, 18); */
  /* font-family: "Sacramento", cursive; */
  font-weight: 400;
  font-style: normal;
  color: white;
  
}
.caf_descrip p{
color: white;
  margin: auto 100px auto 100px;
  width:900px;
  
  
}
.my-content{
  background: url(../images/restaurant-cafe.avif)  ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.2px;
  
}
.btn-Where{
  margin-top:20px;
  margin-bottom: 10px;
  padding: 15px 25px;
  color: black;
  
  border-radius: 10px;
  
}
.btn0:hover{
  background-color: darkslategrey;
}
.btn1{
  
  display: inline-block;
  margin-top: 40px;
  padding: 15px 25px;
  background-color:  #222;
  color: white;
  border: 4px ;
  border-radius: 30%;
  font-weight: 600;
  font-size: 20px;
}
/*Second section*/
.mugImg , .clockImg{
  margin-top: 100px;
  width: 50px;
  background-color: white;
  border-radius: 100px;
}
.second{
  text-align: center;
  display: flex;
  background-color: rgba(122, 120, 120, 0.089);
}
/*third section*/
.pic_coffe{
  margin-top: 100px;
  background-image: url(/images/cofee-meeting.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  
}
.section4{
  margin-top: 50px;
  text-align: center;
}
.btn_book{
  display: inline-block;
  margin-top: 40px;
  padding: 15px 25px;
  background-color:  #222;
  color: white;
  border: 4px ;
  border-radius: 30%;
  font-weight: 600;
  font-size: 20px;
}
.btn2:hover{
background-color: darkslategrey;
}
footer{
  background: #222;
    color: white;
    padding: 30px 0px 30px 0px;
    margin-top: 80px;
    text-align: center;
}
/*Find us us page*/
.findUs{
  overflow: auto;
  padding:150px 100px ;
}
.where_img{
float:left ;
width: 50%;
border: 1px solid #ddd;
}
.where_text{
  float: right;
  width: 45%;
  
}
.container{
  display: block;
  margin:200px auto 200px;
  max-width: 1000px;

}
.chip_org{
  background-color: orangered;
}
.chip{
  display: inline-block;
  width: 30px;
  color: white;
  border-radius: 100px;
  text-align: center;
}
.chip_blue{
  background-color: blue;
}
.underline{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  
}
.contact{
  padding: 180px 0px 100px 0px;
  min-height: 100vh;
}
.contact-form-container{
  max-width: 600px;
  margin: auto;
}
.fo-22{
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-form-container form label{
  display: block;
  font-weight: bold;
}
.contact-form-container form input ,textarea{
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  
}
.btn-submit{
  display: block;
}
.intrj{
  color: red;
  width: 100px;
  
}